<div class="backgroundhomefridge">
  <h1 class="h2homefridge">Tonight's Menu:</h1>
  <% @recipes.each_with_index do |recipe, index| %>
    <div class="containerhomefridge">
      <%= link_to fridge_recipe_path(@fridge, recipe), id:"edit" do %>
        <div class="d-flex">
        <%= cl_image_tag recipe.photo.key, height:145, width: 135, crop: :fill, class: "pictag"%>
          <div class="textnext">
            <div class="littletext">
              <p class="ingname"><%= recipe.name %></p>
              <p class="stars_review">
                <% recipe.rating.to_i.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </p>
              <% if @new_score[index] > 60 %>
                <% score_color = "score-green" %>
              <% elsif @new_score[index] > 30 &&  @new_score[index] <= 60 %>
                <% score_color = "score-orange" %>
              <% else %>
                <% score_color = "score-red" %>
              <% end %>
                <p class="<%= score_color %>">score: <%= @new_score[index] %>%</p>

              <%# <p> View details </p> %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to fridge_path(@fridge) do%>
    <div class="adding">
      <p>
        <i id="crimson">Back</i>
      </p>
    </div>
  <% end %>
</div>
