<%= cl_image_tag @recipe.photo.key, height:250, width: 390, crop: :fill%>
<h2 class="recipeh2"><%= @recipe.name %></h2>
<div class="ingredients">
  <h3 class="h3ingredient"> What needed ?</h3>
    <p>
      <ul>
        <%@ingredients.each_with_index do |ingredient, index| %>
          <% if index.odd? %>
            <li> <%= @ingredients[index - 1] %> of <%= ingredient %> </li>
          <% end %>
        <% end %>
      </ul>
    </p>
</div>

<div class="preparation">
  <p>
    <h3 class=preph3>Preparation</h3>
    <ul>
      <% @recipe.description.split('.').each do |description| %>
        <li> <%= description %> </li>
      <% end %>
    </ul>
  </p>
</div>

<br>
<div class="reviewbox">
  <p><strong>REVIEWS</strong></p>
  <ul class="list-group">
    <% @recipe.reviews.each do |review| %>
      <li class="list-group-item">
        <%= review.content %>
        <%= review.user.first_name %> <%= review.user.last_name %>
        <% review.rating.times do %>
          <%= "â­" %>
        <% end %>
      </li>
      <p>
        <% if current_user == review.user %>
          <%= link_to review_path(review), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            Delete Your Review
          <% end %>
        <% end %>
      </p>
    <% end %>
    <p>
      <%= link_to  new_fridge_recipe_review_path(@fridge, @recipe), class: "btn btn-primary" do %>
        Add a review
      <% end %>
    </p>
  </ul>
</div>

<%= link_to fridge_recipes_path(@fridge), class: "btn btn-primary" do %>
  Back to recipes
<% end %>
