<%= cl_image_tag @recipe.photo.key, height:250, width: 390, crop: :fill%>
<h2 class="recipeh2"><%= @recipe.name %></h2>
<div class="ingredients">
  <h3 class="h3ingredient"> What's needed ?</h3>
    <p>
      <ul>
        <%@ingredients_you_have.each_with_index do |ingredient, index| %>
          <% if index.odd? %>
            <li class="put-green"> <%= @ingredients_you_have[index - 1] %> of <%= ingredient %> </li>
          <% end %>
        <% end %>
        <%@ingredients_missing.each_with_index do |ingredient, index| %>
          <% if index.odd? %>
            <li class="put-red"> <%= @ingredients_missing[index - 1] %> of <%= ingredient %> </li>
          <% end %>
        <% end %>
      </ul>
    </p>
</div>

<div class="preparation">
  <p>
    <h3 class=preph3>Preparation</h3>
    <ul>
      <% @recipe.description.split('.').each do |description| %>
        <li> <%= description %> </li>
      <% end %>
    </ul>
  </p>
</div>

<br>
<div class="reviewbox">
  <p class="text-center1"><strong>REVIEWS</strong></p>
    <ul class="list-group">
      <% @recipe.reviews.each do |review| %>
        <li class="list-group-item">
          "<%= review.content %>"
          <br>
          By <%= review.user.first_name %> <%= review.user.last_name %>
          <div class="stars_trash">
            <p class="stars_review">
              <% review.rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            </p>
            <div class="button_delete">
              <p>
                <% if current_user == review.user %>
                  <%= link_to review_path(review), class: "button_delete_review", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="bothbutton">
  <% if params[:previous_page] %>
    <%= link_to all_recipes_path, class: "backrecipes" do %>
      Back to recipes
    <% end %>
  <%else %>
    <%= link_to fridge_recipes_path(@fridge), class: "backrecipes" do %>
      Back to recipes
    <% end %>
  <% end %>
  <p>
    <%= link_to  new_fridge_recipe_review_path(@fridge, @recipe), class: "addreview" do %>
      Add a review
    <% end %>
  </p>
</div>
