<p><strong>Reviews</strong></p>
<h2><%= @recipe.name %></h2>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.description %></p>

  <p>
  <%= link_to "Delete Your Recipe",
    recipe_path(@recipe),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</p>
<p>
  <%= link_to new_recipe_review_path(@recipe) do%>
    Add a review
  <% end %>
</p>
<div class="reviewbox">
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @recipe.reviews.each do |review| %>

      <li class="list-group-item">
        <%= review.content %>
      </li>

      <% if current_user == review.user %>
        <%= link_to "Delete Your Review", review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>

    <% end %>
  </ul>
</div>
