<div class="backgroundhomefridge">
      <h2 class="h2homefridge"> <%= current_user.first_name %>'s Fridge </h2>
        <% @ingredients.each do |ingredient| %>
        <div class="containerhomefridge">
              <div class="d-flex">
                <div class="picturefridge">
                    <%= cl_image_tag ingredient.photo.key, height:145, width: 135, crop: :fill %>
                </div>
              <div class="textnext">
                    <div class="littletext">
                      <p class="ingname"><%= ingredient.name %></p>
                      <p>Quantity: <%= ingredient.quantity %></p>
                      <p class="expirationdate">Expiration Date: <%= ingredient.expiration_date %></p>
                    </div>
                      <%= link_to edit_fridge_ingredient_path(@fridge, ingredient),id:"edit" do %>
                    <div class="editbutton">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <%= link_to "Delete",
                      ingredient_path(ingredient),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                     %>
                  <% end %>
              </div>
            </div>
        <% end  %>
          <div class="addlink">
              <div class="adding">
                <%= link_to new_fridge_ingredient_path(@fridge), id: "jhjhjh" do %>
                  Add ingredientes
                  <i class="fa-solid fa-plus"></i>
                <% end %>
            </div>
          </div>
        <%= link_to recipes_path,id:"shuffle" do %>
          SHUFFLE
          <i class="fa-solid fa-plus"></i>
        <% end %>
  </div>
</div>
