<div class="image_backgound">
  <div class="inputback">
    <%= simple_form_for [@fridge, @ingredient], data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :name, placeholder: "name", label: false %>
      <%= f.input :quantity, placeholder: "Quantity", label: false %>
     <div class="amount">
        <%= f.input :amount,placeholder: "amount",label: false %>
        <%= f.input :type, collection: Ingredient::TYPE, prompt: "type",label: false %>
      </div>
      <%= f.input :expiration_date, as: :string, input_html: { data: { flatpickr_target: "expirationDate" } },placeholder: "expiration date", label: false %>
      <%= f.input :photo, as: :file, id:'inside' %>
    <div class="createbtn">
      <%= f.button :submit %>
    </div>
    <% end %>
  </div>
</div>
